/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Michroma&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;1,500;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 7rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(230, 71%, 38%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --border-color: hsl(230, 50%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-color: hsl(230, 100%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/

    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", 'serif';
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: #ECEFF2;
    color: var(--text-color);
    transition: background-color .4s;
}

input,
button {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1440px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
    /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    border-bottom: 0.1px solid #ccbfbf;
    transition: box-shadow .4s, background-color .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.nav__logo img {
    font-size: 1.25rem;
    position: relative;
    left: 20px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    width: 820px;
}

.nav__link {
    color: var(--title-color);
    transition: color .4s;
}

.nav__link span {

    font-size: 1.1rem;
    font-weight: 600;
}

.nav__link:hover {
    color: var(--first-color);
    border-bottom: 1px solid #0057B8;
    transition: border .4s;
}

.dropdown__menu {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;

}

.nav__items:hover .nav__link {
    color: var(--first-color);
    border-bottom: 1px solid #0057B8;
    transition: border .4s;

}

.nav__items:hover .dropdown__menu {
    display: block;
}

.dropdown__link {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    color: #9C9C9C;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 600;
    transition: background-color .4s;
    position: relative;

}

.dropdown__link:hover {
    color: #0057B8;
}

.dropdown__link:hover span {
    border-bottom: 1.2px solid #0057B8;
}



.nav__actions {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
}

.button__title {
    color: #0057B8;
    text-decoration: none;
}

.button2:hover .button__title {
    color: white;
    text-decoration: none;
}

.button2 {
    display: inline-block;
    background-color: #ffffff;
    color: #0057B8;
    font-weight: var(--font-semi-bold);
    padding: 1rem 1.5rem;
    transition: box-shadow .4s;
    border: 1px solid #0057B8;
}

.button2:hover {
    box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
    background-color: #0057B8;
    color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #000;
    background-color: #9C9C9C;

}

/*=============== PRODUCTS SECTION ===============*/
.aa-contact-us-page-hero-image {
    position: relative;
    padding-top: 200px;
    padding-bottom: 170px;
    color: #ffffff;
    text-align: left;
    left: 609.6px;
}

.text-container {
    width: 300px;
    text-align: center;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aa-contact-us-page-hero-image::after {
    content: " ";
    background-size: cover;
    background-position: center center;
    background-image: url(https://www.mustad.com/sites/mustad.com/files/styles/950x500_focal/public/2021-06/img_5648_1.jpg?h=52d3fcb6&itok=YxS4xLj5) linear-gradient(to right, #0057B8, #9C9C9C);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

aa-contact-us-page-hero-image .text-container {
    max-width: 600px;
}

.aa-contact-us-page-hero-image h2 {
    width: max-content;
    font-weight: bold;
    font-size: 49px;
    color: #0057B8;
}

.aa-contact-us-page-hero-image h3 {
    width: max-content;
    font-size: 20px;
    font-weight: 200;
    color: black;
    font-style: italic;
}

.aa-contact-us-page-address p {
    width: 100%;
}

.aa-contact-us-page-hero-image .contact-form-anchor-link {
    color: #fff;
    font-size: 20px;
    margin-left: -1em;
    display: block;
    position: absolute;
    left: 50%;
    z-index: 100;
    bottom: 60px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.aa-contact-us-page-hero-image .contact-form-anchor-link:hover {
    color: darken(#ffffff, 15%);
    transform: translateY(6px);
    transition: all 0.3s ease;
}

.box__container {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 5px));
    justify-content: center;
    gap: 2rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

.button1 {
    width: 280px;
}
.box {
    width: 280px;
    padding: 30px;
    background: white;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.product__img {
    width: 220px;
    flex: 1 0 auto;
    padding-bottom: 32px;
    margin-bottom: 20px;
    padding: 2rem 0 3rem;
    display: flex;
    justify-content: center;
}

.product__img img {
    height: 151px;

}

.box h3 {
    color: black;
    font-size: 18px;
    width: 220px;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: left;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.box p {
    color: black;
    font-size: 14px;
    width: 220px;
    height: 32px;
    text-align: left;
    font-weight: 300;
    font-style: italic;

}
.button1:hover .box h3,
.button1:hover .box p {
    color: white;
    background-color: #0057B8;
}
.button1:hover .box {
    background-color: #0057B8;
    
}
.button1:hover .product__img {
    background-color: white;
}
.button1:hover .product__a {
    transform: translateY(5px);
}
/*=============== FOOTER ===============*/
.footer {
    margin-top: 0px;
    padding-bottom: 30px;
}

.footer__container {
    row-gap: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.contact__title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    color: #0057B8;
    font-weight: 1000;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact__description {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #0057B8;
}

.footer__data {
    grid-template-columns: repeat(4, max-content);
    gap: 3rem 2rem;
}

.footer__title {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: 1.25rem;
}

.footer__links {
    display: grid;
    row-gap: .5rem;
}

.footer__link {
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0 0 10px;
    transition: color .4s;
}

.footer__link:hover {
    color: #9C9C9C;
}

.footer__info {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin: 0 0 10px;
    font-style: "Montserrat", sans-serif;
}

.footer__socials {
    display: flex;
    column-gap: 1.25rem;
}


.footer__copy {
    display: block;
    margin-top: 5rem;
    text-align: center;
    font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (min-width: 320px) {
    .hamburger {
        display: block;
    }

    .nav {
        margin-right: 40px;
        margin-left: 40px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .dropdown__menu {
        left: -500px;
    }

    .nav__menu {
        display: flex;
        align-items: center;
    }

    .navbar {
        margin-top: 20px;
        position: fixed;
        left: -100%;
        top: 93.5px;
        flex-direction: column;
        background-color: #9C9C9C;
        width: 100%;
        height: 300px;
        text-align: center;
        transition: 0.3s;
    }

    .nav__link {
        color: white;
    }

    .nav__items {
        margin-bottom: 30px;
    }

    .nav__list {
        display: block;
        justify-content: space-between;
    }

    .navbar.active {
        left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar.deactive {
        left: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .aa-contact-us-page-hero-image {
        position: initial;
        align-items: center;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        padding-top: 250px;
    }

    .footer__container {
        display: block;
    }

    .footer__contact {
        margin-bottom: 60px;
        padding-left: 0;
    }

    .contact__description {
        width: 250px;
    }

    .footer__data {

        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}


@media screen and (min-width:750px) {
    .footer {
        margin-left: 20px;
    }

    .footer__container {
        display: flex;
    }

    .footer__data {
        grid-template-columns: repeat(1, max-content);
        column-gap: 4rem;
    }

    .footer__title {
        width: 150px;
        font-size: var(--h2-font-size);
        margin-bottom: 1.5rem;
    }

    .footer__links {
        row-gap: 1rem;
    }

    .footer__social {
        column-gap: 1.5rem;
    }

    .footer__social-link {
        font-size: 1.5rem;
    }

    .footer__copy {
        margin-top: 7.5rem;
    }


}

/* For medium devices */
@media screen and (min-width:950px) {
    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        column-gap: 6rem;
        position: relative;
        left: 0;
        top: 0;
        width: 800px;
        height: 90px;
        transition: 0.3s;
        background-color: transparent;
        margin-right: 32px;
    }

    .nav__link {
        color: black;
    }

    .nav__items {
        margin-bottom: 30px;
    }

    .nav__list {
        width: 500px;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .nav__actions {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .dropdown__menu {
        left: initial;
    }


    .footer__container {
        display: flex;
    }

    .footer__data {
        grid-template-columns: repeat(2, max-content);
        column-gap: 4rem;
    }

    .footer__title {
        width: 150px;
        font-size: var(--h2-font-size);
        margin-bottom: 1.5rem;
    }

    .footer__links {
        row-gap: 1rem;
    }

    .footer__social {
        column-gap: 1.5rem;
    }

    .footer__social-link {
        font-size: 1.5rem;
    }

    .footer__copy {
        margin-top: 7.5rem;
    }


}

@media screen and (min-width:1119px) {

    .navbar {
        width: 900px;
    }

    .nav__link {
        color: black;
    }

    .nav__items {
        margin-bottom: 30px;
    }

    .nav__list {
        width: 600px;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .nav__actions {
        margin-bottom: 15px;
    }

    .nav__actions button {
        width: 145px;
    }

    .footer__data {
        grid-template-columns: repeat(2, max-content);
        column-gap: 5rem;
    }

    .footer__title {
        width: 250px;
        font-size: 20px;
        margin-bottom: 1.25rem;
    }

    .footer__links {
        row-gap: .5rem;
    }

    .footer__socials {
        column-gap: 1.25rem;
    }

    .footer__social-link {
        font-size: 1.5rem;
    }

    .footer__copy {
        margin-top: 5rem;
    }


}

/* For large devices */
@media screen and (min-width:1220px) {

    .header {
        display: flex;
        justify-content: center;

    }

    .nav {
        width: 1220px;
    }

    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10rem;
        position: relative;
        left: -130px;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        width: 700px;
    }

    .nav__link {
        color: var(--title-color);
        transition: color .4s;
    }


    .nav__actions {
        font-size: 1.25rem;
        color: var(--title-color);
        cursor: pointer;
        transition: color .4s;
    }

    .footer {
        margin-top: 0px;
        padding-bottom: 30px;
    }

    .footer__container {
        row-gap: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 8rem;
    }


    .footer__data {
        grid-template-columns: repeat(2, max-content);
        gap: 3rem 2rem;
    }

    .footer__title {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        margin-bottom: 1.25rem;
    }

    .footer__links {
        display: grid;
        row-gap: .5rem;
    }

    .footer__link {
        font-size: 14px;
        font-weight: 500;
        color: black;
        margin: 0 0 10px;
        transition: color .4s;
    }

    .footer__socials {
        display: flex;
        column-gap: 1.25rem;
    }


    .footer__copy {
        display: block;
        margin-top: 5rem;
        text-align: center;
        font-size: var(--small-font-size);
    }
}

@media screen and (min-width:1600px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__data {
        grid-template-columns: repeat(4, max-content);
        gap: 3rem 2rem;
    }

}